html {
    color: #000;
    background: #fff;
}

blockquote,
body,
code,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}


body {    
    font-family: segoe ui, Helvetica, droid sans, Arial, lucida grande, tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    color: #615e58;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #fff;
    line-height: normal;
}

a,
p {
    color: inherit;
}

section {
    display: block;
}

button {
        writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: buttontext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: center;
        cursor: default;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

div {
    display: block;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: middle;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 40px;
}

h2 {
    font-size: 24px;
}


* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.componentsContainer {
    position: relative;
}

.mainContainer {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    overflow-y: auto;
}

.product-categories {
    margin-bottom: 40px
}

.intialLabel {
    display: table;
    margin: 0 auto 20px;
    width: 100%;
    padding-top: 0;
    text-align: center;
}

.intialLabel>h2 {
    color: rgba(0, 0, 0, .95);
    font-weight: 300;
    padding-top: 0;
    margin-bottom: 20px;
    /* align-items: center;
    justify-content: space-between; */
}

.mainTile a {
    text-decoration: none;
}

.head {
    background: url(https://chaldn.com/asset/Egg.ChaldalWeb.Fabric/Egg.ChaldalWeb/1.0.0+Deploy-Release-189/Default/stores/chaldal/components/landingPage2/LandingPage/images/landingBannerTop.png) no-repeat center;
    background-size: cover;
    height: 325px;
    padding-top: 100px;
}

.floatingSearchBar {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.searchBarContainer {
    margin: 0 auto;
    display: table;
}

.searchBarText {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    padding: 0 10px;
}

.searchArea {
    padding: 10px;
    width: 800px;
    height: 60px;
    float: left;
    position: relative;
    box-sizing: content-box;
    color: #000;
    min-width: 100%;
}

.searchBoxHead {
    padding: 4px 12px;
    width: 100%;
    height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 6px 0 0 6px;
    border: 0.5px solid #c8c8c8;
    border-right: none;
    position: relative;
    top: 0;
    font-size: 14px;
}

.headTable {
    width: 100%;
}

.buttonCell {
    width: 40px;
}

.button2 {
    height: 40px;
    font-weight: 700;
    position: relative;
    top: 0;
    border: 0.5px solid #c8c8c8;
    border-left: none;
    margin-left: 0;
    background-color: #fff;
    font-size: 25px;
    width: 100%;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    padding-top: 6px;
    padding-bottom: 4px;
}

.svgSearch {
    width: 32px;
    height: 40px;
    fill: #7a7a7a;
    stroke: #7a7a7a;
    padding: 0 2px 2px 6px;
    height: auto;
}

.mainTile {
    display: block;
    overflow: visible;
    text-align: center;
}

.mainTile .categoryBox {
    width: 32%;
    border: 1px solid #d4d4d4;
    float: left;
    margin: .5%;
    padding: 15px 10px 15px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mainTile .categoryBox .categoryName {
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 31px;
}

.categoryName {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}




#how-to-order-chaldal {
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
}


.how-to-slider {
    margin-bottom: 40px;
}

.imageCarousel{
    position: relative;
    overflow: hidden;
    padding-bottom: 42%;
    height: 100%;
    width: 100%;
}

.banner-carousel-container {
    position: absolute;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width: 100%;
}

.slide {
    display: inline-block;
    height: 250px;
    width: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat
}

.banner-slide1 {
    width: calc(100%/2);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjbf3VrT1yYFVYIuiPnsijOsETc--lIvrpYA&usqp=CAU);
}

.banner-slide2 {
    width: calc(100%/2);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5xTyMYqkfnXeSxDEkh98GAdEkLSK9irLItQ&usqp=CAU);
}

.banner-slide3 {
    width: calc(100%/2);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLywYeJ8VBlKoWdffNV0Abvbd9Dr3KvxU52g&usqp=CAU);
}